<div class="rate-detail countgroup"> 
    <div class="count-group">
        <span class="score">5分</span><span class="percent-box inline-block"><em style="width:65.789473684211%" class="percent inline-block"></em></span>175人
    </div>
    <div class="count-group">
        <span class="score">4分</span><span class="percent-box inline-block"><em style="width:25.187969924812%" class="percent inline-block"></em></span>67人
    </div>
    <div class="count-group">
        <span class="score">3分</span><span class="percent-box inline-block"><em style="width:5.2631578947368%" class="percent inline-block"></em></span>14人
    </div>
    <div class="count-group">
        <span class="score">2分</span><span class="percent-box inline-block"><em style="width:1.1278195488722%" class="percent inline-block"></em></span>3人
    </div>
    <div class="count-group">
        <span class="score">1分</span><span class="percent-box inline-block"><em style="width:2.6315789473684%" class="percent inline-block"></em></span>7人
    </div>
</div>