<% if @success %>
$("#rate_result").html('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert">x</a>发表评论成功</div>');
<% else %>
$("#rate_result").html("<%= j render "shared/error_messages", :target => @comment %>");
<% end %>