<div class="user-top"> 
    <h1><%= render_user_name(current_user) %></h1> 
    <p>用户ID:<%= current_user.id %></p>
    <p>积分：<span class="red"><%= current_user.profile.try(:score) %></span></p>
</div> 