<% cache colleges do %>
<div class="fl nav-div">
    <div class="nav-caption">
        校区选择
    </div>
    <ul class="nav-ul">
      <% colleges.each do |c| %>
      <li>
          <a href="" class="nav-li inline-block"><%= c.name %></a>
          <a href="" class="nav-more inline-block"></a>
      </li>
      <% end %>
    </ul>
</div>
<% end %>