
<div class="main-ul clearfix">
    <div class="main-caption clearfix">
        <div class="qplogo"></div>
        <div class="main-h">
            <h1>人气教练<span class="en">INSTRUCTOR</span> </h1> 
        </div>
        <a href="<%= coaches_path %>" class="more fr">更多&#62;&#62;</a>
    </div>
    <ul class="list clearfix">
      <%= render @coaches %>
    </ul>
    <div class="list-bottom">
        <span class="list-bottom-close"></span>
    </div>
</div>
