    <div class="pageWrap vonPage">
        <h2>赔付申请</h2>
        <p class="text-in">U驾网只受理服务权限范围内的吃拿卡要等投诉，其他维权可拨打96515</p>  
        <p class="text-in">遇到问题︱→未确认消费→系统认定为未报名→所产生问题与商家自行协商
︱→已确认消费→</p>
        <p>①与驾校或教练自行协商→协商一致→执行协议→执行完成</p>
        <p>②协商不一致,申请平台介入→学员提供违规证据上传到平台并同时到相关政府部门投诉，如车管所→平台审核确认,若结果属实且相关主管部门已受理,执行协议,支持学员并进行先行赔付;若结果不属实,驳回申请→执行完成</p>
        <p>③平台无权限介入，请拨打驾考维权热线96515</p> 
    </div>