<div class="pageWrap vonPage">
    <h2>代金券使用</h2>  
    <p class="text-in">U驾网代金券是用户为学员提供的优惠政策，代金券面额可以当足值的代金使用。</p>
    <p>（1）学员通过U驾网免费注册用户信息，注册成功后挑选适宜教练并领取该教练代金券。</p>
    <p>（2）确认领取后系统会自动生成订单，向您显示教练联系方式和代金券编号，请记录下与教练联系报名事宜，也可等待教练与您联系。</p>
    <p>（3）您成功领取代金券后教练会自行与您联系（系统会同时发信息与教练，保证信息联系的畅通性），如商量具体报名时间、地点等事宜，准备线下报名。在此期间，平台不予干涉。</p>
    <p>（4）缴纳学费办理入学手续时,请向教练索取正确验证码.验证码是您确认消费的最重要依据,也是向平台索取维权的唯一依据.如未上传验证码或验证码错误或失败,平台不提供维权服务.</p>
    <p>（5）成功报名后，凭借验证码上U驾网进行交易确认与评价。（请在线下支付成功后第一时间上传验证码，否则U驾无法为您维权）</p>
</div>