<div class="pageWrap vonPage">
    <h2>保证金担保</h2>  
    <p class="text-in">U驾网上的所有驾校与教练都交有一定的诚信保证金。</p>
    <p>（1）若我平台用户即驾校或教练违反与学员的入学守则或合作协议，甲方扣除保证金，监管其行为。</p>
    <p>（2）若我平台用户即驾校或教练被平台学员实名举报违规或吃拿卡，要主管部门确认事实后，甲方扣除保证金作为对学员的赔偿，以保证学员的正当权益。</p> 
</div>