<div class="pageWrap vonPage">
    <h2>帮助中心</h2>  
    <p><span class="fb">维权帮助：</span>因驾考市场的特殊性，U驾网无权干涉学员的学车过程或在学车过程中遇到的考试排名,考试名额不足,时间安排紧张等问题。遇到问题不要慌张，收集好证据，拨打驾考维权热线96515，到车管所等政府主管部门投诉。U驾网只受理服务权限范围内的投诉，出现问题会首先帮助协调解决。</p>
    <p class="fb">驾考维权热线96515</p>
    <h4>法律申明</h4>
    <p class="text-in">请您务必细读，以免出现不必要的纠纷，不认同以下说明的，请您慎重考虑在U驾上领取代金券选择教练等事宜。</p>
    <h4>1、关于注册信息</h4>
   <p class="text-in">请您在注册时务必填写个人真实信息，尤其是联系方式及邮箱的真实有效性，确保能及时准确的接受验证码等交易信息。</p>
   <h4>2、关于交易方式</h4>
   <p class="text-in">本平台暂不支持线上交易，也不参与您与交易方教练的交易过程（但会根据发展需要随时更新补充交易细则，如线上交易细则），您在领取代金券去进行线下交易时，请务必提高警惕，请务必核对与交易方验证码的一致性，不可轻易把钱交给陌生人，若因个人失误而造成的财产损失，U驾不承担任何责任，其后果由您自行负责。</p>
   <h4>3、关于交易后优惠券验证码的使用</h4>
   <p class="text-in">请您在注册时务必填写个人真实信息，尤其是联系方式及邮箱的真实有效性，确保能及时准确的接受验证码等交易信息。</p>
   <h4>4、关于教练</h4>
   <p class="text-in">（1）本平台所选教练是通过学员推荐并经过严格的资历筛选选出来的，但由于服务性质的特殊性，教练不归我平台所管，无法完全知晓教练的个人品行及素质行为，也无法对教练的教学过程进行全程的监督。无法保证教练在培训过程中不出任何状况。我平台不参与教学事务。但您有权维护自己的合法权益，可在我平台对自己教练进行客观、公正的真实评价。若在学车过程中出现教练违法情况，可直接拨打相关部门的维权热线，也可申请客服干预进行调解，具体事宜可参见《服务保障》。</p>
   <p class="text-in">（2）您在驾驶学习过程中遇到的关于教练个人教学方式如不接送、学车时间安排等问题，若不违反U驾网服务协议与合作标准及国家相关法律法规，原则上与U驾网无关，U驾不干涉学员您过程。因您个人原因或与教练之间的关系不和而产生的冲突与后果，由您自行承担。U驾不因您个人选择问题而承担任何后果，但仍会坚持服务精神，为您提供保障您权益的服务，望您同意并理解。</p>
</div>  