/*
 *= require application
 *= require_self
 */

@charset "utf-8";
/*author yong  2014-08-25*/
/* reset */
html, body, div, span,h1, h2, h3, h4, h5, h6, p, a, em, img,small, strike, strong, sub, sup,b, i,dl, dt, dd, ol, ul, li,form,ins, label,table, caption, tbody, tfoot, thead, tr, th, td,fieldset,legend,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
} 
body{font: 12px/1.5 arial,"宋体";}
a{text-decoration: none;color: #000;} 
a:hover{color:#FF4500;}
ol,ul,li{list-style:none;}
input[type="button"],input[type="submit"]{cursor: pointer;}
/*color*/
.orange{color: #f76120;}
.red{color: #f00;}
/*position*/
.inBlock{display: inline-block; *zoom:1;*display:inline;}    
.clearfix{overflow:hidden;zoom:1;} 
.fl { float:left;}
.fr { float:right;} 
.fb{font-weight: bold;}
.tc{text-align: center;}
.textR{text-align: right}
.hide{display: none;}
.overlay{display: none;position: fixed;left: 45%;top: 45%;z-index: 100;background-color: #fff;border: 1px solid #797979;}

/*btn*/
/*.btn{background:url(/assets/btn.jpg) no-repeat; width: 66px;height: 26px;border: 0;}
//.next{background-color: #f00;color: #fff;border: 0;letter-spacing: 3px;font:16px/16px '微软雅黑';padding:8px 12px; background-image:linear-gradient(to bottom, #d65000, #ed0d1c);border-radius: 3px;} 
//.next:hover{background-image: linear-gradient(to bottom, #ff5000, #e40d1c);}
.orangeBtn{ background-color: #ff7200;border: 0;padding: 5px 10px;border-radius: 3px;
    background-image: linear-gradient(to bottom, #ff8901, #ff7200);
    background-size: 100% auto;
    border-color: #da3f02;
    color: white;}
.orangeBtn:hover{ background-color: #ff8101;
    background-image: linear-gradient(to bottom, #ff9c01, #ff8101);
    background-size: 100% auto;
    border-color: #e54404;
    color: white;} 
.del{background: url(../img/del.gif) no-repeat;display: inline-block;width: 12px;height: 14px;vertical-align: top;margin: 2px 3px 0 0;}
*//*mainwarp*/
.mainWrap .nb{border-right: 0 none;} 
/*header*/
.header{height: 30px;line-height: 27px;padding: 0 15px;border-top: 3px solid #FB5F5F; border-bottom: 1px solid #edeef0;background-color: #F5F5F5;font-family: arial,"Microsoft YaHei";color: #696969;}
.header .red{color:#FB5F5F;}
.header .bound{color: #e3e3e3;}
.header a{color: #696969;} 
.header .cartImg{width: 14px;height: 14px;vertical-align: middle;}
.header .downImg{width: 8px;height: 6px;vertical-align: middle;}
/*ad*/
.ad{width: 1016px;margin: 0 auto;}
/*search*/ 
.searchLeft span{font-size: 14px;font-weight: bolder;display: block;margin-bottom: 5px;} 
.searchLeft .city {border: 1px solid #a8a8a8;border-radius: 3px;color: #b7b7b7;font-size: 11px;padding: 1px;}
.searchLeft .cityBox{display: inline-block; *zoom:1;*display:inline;  margin-top: 5px; vertical-align: top;}
.searchbar{position: relative;height:32px;border: 2px solid #f00; margin: 20px 50px 0 90px;vertical-align: top;} 
.searchbar .select{cursor: pointer;display: inline-block; *zoom:1;*display:inline;width: 65px;text-align: center;height: 30px;line-height: 32px;*vertical-align: top;*height: 28px;*line-height: 28px;}
.searchbar .option{display: none;background-color: #fff;left: 0; position: absolute;width: 65px;z-index: 111;top: 32px;}
.searchbar .option li {cursor: pointer;padding: 2px;text-align: center;border: 1px solid #f00;}
.searchbar .option li.hover {background: #f00; color: #fff;}
.searchbar .srcInput{width: 335px;font-size: 14px;height:20px;line-height: 20px;padding: 5px;border: none;}
.searchbar .srcBtn{background-color:#FF0000;color: #fff;font-size: 14px;font-weight: 700;width: 78px;height: 32px;border:0;cursor: pointer;vertical-align: top;}
.contact li{font:italic bold 18px/22px arial,serif;margin:10px 10px 0 0;color: #EF4C4F;}
.contact .adults{color: #0000FF;}
/*mainWrap*/
.mainWrap{width: 1020px;margin: 0 auto;}
.mainWrap .title{font: 700 18px arial;margin: 10px 15px;}
/*nav*/
.nav{border-bottom: 2px solid #ff0000;margin-top: 25px;}
.nav li{ display: inline-block; *zoom:1;*display:inline;padding:10px 20px 0;text-align: center;}
.nav li a{font-size: 14px;font-weight: bolder;line-height: 30px;}
.nav li.active{background-color:#f00;}
.nav li.active a{color:#fff;font-family: "仿宋","宋体";}
.nav li.all{width: 136px;letter-spacing: 16px;}
/*sort*/
.sort{border: 2px solid #f00;display: inline-block; *zoom:1;*display:inline;vertical-align: top;border-top: 0;}
.sort dl{ border-bottom: 1px solid #EEEEEE;margin: 10px;padding:9px 13px;position: relative;}
.sort dl.nobor{border-bottom: 0;}
.sort dt {font-family: "Microsoft YaHei"; font-size: 16px; font-weight: bold;margin-bottom: 10px;}
.sort dd{display: inline-block; *zoom:1;*display:inline;margin-right: 5px;}
.sort .arrow{position: absolute;top: 25px;right: 0;} 
.sort .arrow{width: 8px;height: 11px;}
/*index LeftWrap*/
.moreAll{border: 1px solid #000;padding: 2px;margin-right: 20px;margin-top:9px;}
.moreAll:hover{background-color:#f27a1a;color: #fff;border:0;}
.caption,.listhJ li{border: 1px solid #e8e8e8;margin-top: 10px;}
.caption{padding-left: 10px;*width: 812px;}
/*listhJ*/
.listhJ{*width: 823px; margin-bottom:15px;}
.listhJ li{*width: 265px;}
.listhJ li.lic{margin-left: 8px;} 
.listhJ li:hover{border: 1px solid #f40;} 
.listhJ .pic img{width: 265px;height: 210px;}
.listhJ .coachName a{ font-size: 18px;font-weight: bold;}
.listhJ .condition{color: #a7a7a7;margin-left: 10px; font-weight: bold;}
.listhJ .priceP {margin: 20px 0 10px 10px;}
.listhJ .sale{background-color: #fafafa;border-top: 1px solid #dedede;padding: 0 20px;height: 40px;line-height: 40px; color: #9a9a9a;}
.listhJ .orange{font: 700 24px/22px arial;color: #f27a1a;}
.listhJ .orange i{font-size: 14px;vertical-align: top;*vertical-align: middle;font-style: normal;}
.listhJ .sale .fl span{color: #F27A1A;margin-left: 5px;}
.listhJ .evaluate{display: inline-block; *zoom:1;*display:inline;}
.listhJ .evaluate img{float: left;}
.listhJ .priceP .coupon {background-color: #f27a1a;border: 1px solid;border-radius: 3px;color: #fff6da;padding: 1px;}
.listhJ .cost {color: #9a9a9a; margin-left: 30px;}
.listhJ .cost span{text-decoration: line-through;margin-left: 5px;}
.more {background-color: #f3f3f3;border: 1px solid #dedede;height: 35px;line-height: 35px;margin: 10px 0 30px;text-align: center;letter-spacing: 3px;*width: 823px;}
.more img{width: 12px;height: 14px;vertical-align: middle;margin-left: 5px;}
/*form*/
.form-field{padding: 8px 0 8px 110px;position: relative;}
.form-field label {font-size: 14px;left: 0; padding-top: 6px;position: absolute;text-align: right; width: 100px;letter-spacing: 3px;font-family: "Tahoma,Helvetica,arial,sans-serif";} 
.form-field .f-text {border: 1px solid #aaa;height: 24px;line-height: 24px;padding: 5px;vertical-align: top;width: 248px;text-indent: 5px;}
.form-field .verify-code{width: 175px;} 
.form-field select {border: 1px solid #c0c0c0;height: 26px;margin-top: 3px;} 
/*footer*/
.footer{background-color: #F6F6F6;border-top:3px solid #fb5f5f;text-align: center;margin: 0 auto;color: #666;}
.footer dl{display: inline-block; *zoom:1;*display:inline;width: 120px;padding:0 30px;margin:20px auto; vertical-align: top;text-align: left;}
.footer dt { font-size: 14px;font-weight: bold;margin-bottom: 10px;}
.footer dd{margin-bottom: 5px;font-family:"microsoft yahei";display: list-item;list-style-type: disc;margin-left: 18px;} 
.footer dd a{color: #666;}
.footer dd a:hover{color:#FF4500;}
.footer .foot-center{border-left: 1px dashed #ddd;border-right: 1px dashed #ddd}
.footer .copyright{font:12px/150% Arial,Verdana,"宋体";padding-bottom: 30px;}
.scrollWrap .week {
    color: #666;
    font-size: 14px;
    line-height: 20px;
}

.scrollWrap .starWeek {
    background: url(../img/starWeek.gif) no-repeat;width:14px;height: 14px;
}
 

/*page*/
//.pagination{text-align: center;padding-top: 10px; margin-bottom: 20px;}
//.pagination li{display: inline-block;*zoom:1;*display:inline;border: 1px solid #ededed;padding: 3px 5px;cursor: pointer;margin-right: 5px;}
//.pagination li a{color: #666666;}
//.pagination li:hover{border: 1px solid #FF7D00;}
//.pagination li.active{border: 0;}


.topbar {
  margin:0;
  padding:0;
  background: rgb(242,242,242);
  height: 30px;
  border:1px solid rgb(235,235,235);
  border-left: none;
  border-right: none;
  
  .top-nav {
    padding:0;
    margin:0;
    padding: 5px 0;
    list-style: none;
  }
  
  .favorite {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100px;
  }
  
  ul.top-nav {
    li {
      float: left;
      padding: 0 10px 0 0;
    }
    
    li.reg {
      width: 200px;
    }
  }
  
  .topbar-inner {
    width: 80%;
    margin: 0 auto;
  }
}

	.srcShoolWrap{margin:0 0 30px 30px;}
	.srcShoolWrap .hotBar{margin: 20px 0 15px;}
	.srcShoolWrap .hotBar a{color: #8C8C8C;font-weight: bold;margin: 0 25px 0 10px;}
	.srcShoolWrap .hotBar .hot{vertical-align: middle;width: 12px;height: 11px;}
	.srcShoolWrap .srcNav{margin-bottom: 15px;}
	.srcShoolWrap .srcNav a{padding: 5px 10px;border: 1px solid #000;} 
	.secitem dt{float: left;color: #999;}
	.secitem dd{margin-bottom: 10px; }
	.secitem dd a{margin:0 5px 0 3px;}
	.secitem .select{color: #FF3300;font-weight: bold;}
	.secitem .priceFilter{margin-left: 15px;}
	.secitem .custom{width: 40px;}
	.catePanel{height: 30px;font: bold 16px/33px "仿宋";margin-bottom: 10px;}
	.catePanel span{background-color: #E8F6F6;color:#FF0000;width: 150px;display: inline-block;letter-spacing: 1em;text-align: center;padding:0 10px;}
	.catePanel span.active{background-color: #FF0000;color: #fff;}
	.sortbar{border: 1px solid #ccc;}
	.sortbar li{float: left;width: 90px;height: 35px;text-align: center;border-right: 1px solid #ccc;line-height: 35px;}
	.sortbar li.active{border-top: 2px solid #2BB8AA;height: 33px;}
	.sortbar li.active a{color: #2BB8AA;font-weight: bold;}
	.sortbar .arrow{display: inline-block;width: 8px;height: 8px;margin-left: 5px;}
	.sortbar .up{width: 7px;background: image-url("upSort.gif") no-repeat;}
	.sortbar .down{background: image-url("downSort.gif") no-repeat;}
    .srcShoolWrap .listhJ {width: 988px;}
	.listhJ li.lic{margin-left: 95px;}
	.pic img{width: 290px;height: 168px;*width:265px;} 

/*searcher fail*/
	.failWrap{margin: 10px 0 20px;}  
	.fail{font-weight: bold;text-align: center;border: 1px solid #DCDCDC;padding: 30px 0 20px;}
	.fail img{vertical-align: middle;}
	.failWrap .listhJ {padding: 5px 0 15px;width: 988px;}  
	.failWrap .bor{border-bottom: 1px solid #e8e8e8;} 
	.failWrap .title{ color: #333333;font:bold 16px "华文中宋";margin-top: 10px;}
/*success Wrap*/
	.successWrap{margin: 10px 0 20px;}
    .successWrap .listhJ{width: 988px;} 
	.successWrap .result{font-family: arial;font-size: 13px;}  

.banner {
  height: 60px;
  border: 1px solid #ddd;
}

.signup_navbar {
  background: #fff;
  margin: 0 0 20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  box-shadow: 0 0px 2px rgba(0,0,0,.05);
  
}

.learn_note {
  border: 2px solid rgb(245,0,0);
  border-top: none;
}

.wikis {
  h2 {
    font-weight: bold;
    font-size: 18px;
    color: rgb(246, 92, 0);
    margin-bottom: 5px;
  }
  border: 2px solid rgb(245,0,0);
  border-top: none;
  padding: 15px 10px;
}