@charset "utf-8";

/*author yong  date 2014-09-07  user css*/

/* userLeft*/

.userLeft, .userRight {
  a {
    text-decoration: none;
  }
}

.userLeft {
    float: left;
    width: 156px;
    border: 1px solid #D4D8DB;
    padding-bottom: 30px;
}
.userLeft .user-top {
    margin: 10px;
    padding: 18px 25px;
    border-bottom: 1px solid #D4D8DB;
    text-align: center;
    color: #5f5f5f;
}
.user-photo {
    width: 45px;
    height: 45px;
    margin: 5px auto;
}
.user-top h1 {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
}
.user-nav li {
    margin-top: 5px;
    padding-left: 10px;
}
.user-nav li a {
    color: #5f5f5f;
}
.user-nav li.active {
    background-color: #1C85E1;
}
.user-nav li.active a {
    color: #fff;
}
.user-nav .dd {
    padding: 5px 25px;
}
.user-nav .fb {
    font-size: 13px;
    color: #5f5f5f;
    margin-top: 20px;
}
/*userRight*/

.userRight {
    float: left;
    margin-left: 30px;
}
.userRight h1 {
    font-size: 16px;
    color: #5f5f5f;
    border-bottom: 1px solid #D4D8DB;
    padding: 5px 0 15px;
    width: 770px;
    font-weight: bold;
}
/*user info alert*/

.use-info {
    width: 300px;
    margin: 50px auto;
    color: #5f5f5f;
    font-size: 14px;
}
.use-info li {
    margin-bottom: 25px;
}
.info {
    width: 260px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.info label {
    width: 80px;
    text-align: right;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
/*avl*/

.psw-nav li {
    float: right;
    cursor: pointer;
    padding: 10px 20px;
    
    font-size: 14px;
    color: #393c43;
    font-weight: bold;
}
//.psw-nav li a {
//    font-size: 14px;
//    color: #393c43;
//    font-weight: bold;
//}

/*psw-form */
.icon-ok {
    background: image-url("icon-ok.gif") no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.psw-form {
    width: 365px;
    margin: 95px auto 200px;
}
.psw-form .form-row {
    margin-bottom: 25px;
}
.psw-form label {
    color: #333;
    width: 100px;
    text-align: right;
}
.psw-form .psw-text {
    height: 22px;
    line-height: 22px;
    border: 1px solid #BABABA;
    text-indent: 5px;
    vertical-align: middle;
}
.psw-form .psw-text:focus {
    border: 1px solid #FFCB65;
}
.psw-form .userIn {
    width: 250px;
}

.psw-nav {
    width: 880px;
    height: 40px;
    background: image-url("psw-nav-bg.gif") repeat-x;
    border: 1px solid #dfdfdf;
    border-radius: 10px 10px 0 0;
    padding: 0 50px;
    margin-top: 45px;
}

.psw-nav li.active {
    background: image-url("psw-nav-active.gif") repeat-x;
    color: #fff;
}

//.psw-nav li.active a {
//    color: #fff;
//}


.law {
    width: 680px;height: 100px; overflow-x: auto;border: 1px solid #bababa;padding: 5px 10px;color: #666;line-height: 1.5;
    > h2 {
      font-size: 13px;
      font-weight: bold;
      color: black;
      margin-bottom: 10px;
    }
    
    p {
      text-indent: 2em;
      margin-bottom: 10px;
    }
}

.reg-form {
  width: 675px;
  margin: 70px auto 200px;
  margin-left: 140px;
  .submit-btn {
    display: inline-block;
    padding: 0 20px;
    margin: 30px 0 20px 160px;
  }
  

  
  label {
    font-size: 14px;
  }
  
  input[type="text"], input[type="password"], input[type="email"] {
    height: 22px;
    line-height: 22px;
    border: 1px solid #BABABA;
    text-indent: 5px;
    vertical-align: middle;
    width: 295px;
  }
}

.rate {
    padding: 20px;
    border-bottom: 1px solid #d4d8db;
    width: 730px;
}
.rate-section {
    float: left;
    margin: 5px 15px 35px 15px;
    color: #5f5f5f;
}
.rate-section h3 {
    color: #d50001;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.rateItem {
    margin-top: 25px;
}
.rateItem label {
    vertical-align: top;
}
.rateItem .text {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 60px;
    text-align: right;
}
.rateItem .widget-rating {
    vertical-align: middle;
}
.rateItem .rate-item-gray {
    background: image-url("starmin.png") repeat-x scroll 0 -17px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    height: 17px;
    width: 15px;
    cursor: pointer;
}
.rateItem .rate-gray {
    background: image-url("starmin.png") repeat-x scroll 0 0;
}
.rateArea {
    margin: 20px;
    background-color: #F0F0F0;
    border: 1px solid #D4D8DB;
}
.area-text {
    padding: 35px 35px 15px;
    margin: 0 15px;
    border-bottom: 1px solid #d4d8db;
}
.area-text h2 {
    padding-bottom: 20px;
    color: #333333;
    font-size: 12px;
    line-height: 25px;
    margin-right: 15px;
    font-weight: 500;
}
.area-text textarea {
    width: 600px;
    height: 120px;
    padding: 10px;
    border: 1px solid #d4d8db;
}
.area-text p {
    color: #8a8a8a;
    margin: 5px 0;
}
.area-btn {
    margin: 20px 50px;
    color: #5f5f5f
}
.btn-red {
    background-color: #D50002;
    padding: 10px 40px;
    color: #fff;
    font: 18px"黑体";
    cursor: pointer;
    border: 0;
    vertical-align: bottom;
}
.area-btn input[type="checkbox"] {
    margin-left: 20px;
    vertical-align: bottom;
}
.edit-icon {
    background: image-url("edit.gif") no-repeat;
    display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: top;
    margin-right: 5px;
}
.del-icon {
    background: image-url("del.gif") no-repeat;
    display: inline-block;
    height: 11px;
    margin-right: 10px;
    width: 11px;
    vertical-align: top;
    margin-left: 20px;
}
.edit a {
    color: #0061a5;
}
.evaluate {
    margin-left: 130px;
    width: 600px;
}
.evaluate p {
    color: #5f5f5f;
}
.rated {
    border-top: 1px solid #d4d8db;
    border-bottom: 0;
    padding: 20px 10px 0;
    margin: 20px 20px 0;
}
.rated .rateItem {
    margin-top: 5px;
}
.rated .rate-section {
    margin-bottom: 10px;
}
.rated-wrap {
    margin-bottom: 50px;
}
/*voucherBox*/

.voucherBox {
//  background: red;
  h1 {
    color: #414141;font-size: 14px;font-weight: bold;margin: 0 0 30px; 
  }
} //title { color: #414141;font-size: 14px;font-weight: bold;margin: 45px 0 30px; background: red;} 

.voucherBox .filWrap {
    color: #999;
    margin: 10px 0 20px;
}
.voucherBox .filWrap select {
    margin-right: 30px;
    width: 100px;
}
.voucherT {
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 40px;
    width: 780px;
}
.voucherT .th {
    background: image-url("voucher-bg.gif") repeat-x;
    border: 1px solid #FFCDA8;
    color: #414141;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.voucherT .msg {
    width: 300px;
}
.voucherT .num,
.voucherT .price {
    width: 80px;
}
.voucherT .statu {
    width: 130px;
}
.voucherT .opt {
    width: 150px;
}
.voucherT .voumsg {
    color: #999;
    margin: 15px 0 10px;
}
.voucherT td {
    vertical-align: middle;
}
.voucherT .td {
    background-color: #fcfcfc;
    border: 1px solid #FFCDA8;
    color: #4c4a4b;
}
.voucherT .picW {
    padding: 15px;
}
.voucherT .date {
    color: #999;
}
.vonBtn {
  text-align:center;
	display: inline-block;
    background: image-url("voucherbg.gif") repeat-x;
    border: 0 none;
    color: #ffe4a0;
    height: 18px;
    width: 80px;
    border-radius: 3px;
    color: #414141;
    border: 1px solid #FFCDA8;
    cursor: pointer;
}
.vouchList p {
    margin-left: 10px;
    text-align: left;
}
.vouchList .delvou {
    cursor: pointer;
}
.area-text .upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    opacity: 0;
    filter: alpha(opacity=0); cursor: pointer; 
}
.area-text .upload-btn {
    position:relative;
}  
.area-text .checkbox{vertical-align: middle;}