body {
    background-color: #F6F7F9;
}
.wrap {
    width: 910px;
}
.login-top {
    margin: 35px 0 50px 35px;
}
.login-top span {
    font: 20px arial;
    color: #373737;
    line-height: 65px;
}
.loginForm {
    width: 350px;
    ;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 10px;
}
.loginForm label {
    font: 14px"微软雅黑";
    color: #7d7d7d;
    margin-bottom: 10px;
}
.loginIn {
    width: 260px;
    height: 35px;
    line-height: 35px;
    text-indent: 5px;
    border: 1px solid #C1C1C1;
    margin-bottom: 20px;
    border-radius: 5px;
}
.loginIn:hover {
    border: 1px solid #458121;
}
input[type="checkbox"] {
    vertical-align: middle;
}
.checkbox-wrap {
    color: #7d7d7d;
}
.btn-yellow {
    padding: 0 94px;
    margin-bottom: 30px;
    *padding:0 55px;
}
.login-btn-wrap {
    background-color: #F9F9F9;
    border-top: 1px solid #D7D7D7;
    padding: 20px 40px;
    input[type="submit"] {
      margin-bottom: 30px;
    }
}
.login-form-wrap {
    padding: 30px 40px 20px 40px;
    input[type="text"],  input[type="password"]{
      margin-bottom: 9px;
    }
    
    input[type="checkbox"] {
      margin-top: -1px;
    }
}
p {
    color: #666;
    text-align: center;
    margin-top: 40px;
}