<div class="footer">
  <dl>
      <dt>商务合作</dt>
      <dd><a href="">驾校入驻</a>
      </dd>
      <dd><a href="">教练入驻</a>
      </dd>
      <dd><a href="">市场合作</a>
      </dd>
  </dl>
  <dl class="foot-center">
      <dt>公司信息</dt>
      <dd><a href="">关于护驾</a>
      </dd>
      <dd><a href="">媒体报道</a>
      </dd>
      <dd><a href="">法律声明</a>
      </dd>
      <dd><a href="">用户	协议</a>
      </dd>
      <dd><a href="">营业执照</a>
      </dd>
  </dl>
  <dl>
      <dt>用户帮助</dt>
      <dd><a href="">查看代金券</a>
      </dd>
      <dd><a href="">常见问题</a>
      </dd>
  </dl>
  <p class="copyright">©2014护驾网团购&emsp;|&emsp;hujia361.com&emsp;|&emsp;京ICP证070791号&emsp;|&emsp;京公网安备11010502025545号&emsp;|&emsp;电子公告服务规则</p>
</div>