<!-- header start -->
<div class="header-wrap">
    <!--header-top-->
    <%= render "/layouts/topbar" %>
    <!--logo-wrap-->
    <%= render "/layouts/logo_banner" %>
    
    <%= render "/layouts/navbar" %>
    <!--hotBar-->
    <%= render "/layouts/searchbar" %>
</div>
<!-- header end -->