<div class="logo-wrap clearfix">
    <div class="fl">
        <%= link_to image_tag("logo.jpg", class:"inline-block", alt: SiteConfig.app_name), '/' %>
        <div class="inline-block">
            <p class="city">南充</p>
            <!--a href="" class="cityBtn">切换城市</a-->
            <span class="cityBtn">切换城市</span>
        </div>
    </div>
    <ul class="inline-block fr">
        <li><span class="tel">全国热线</span>  <span class="red">400-8800-737</span>
        </li>
        <li><span class="tel">维权电话</span>  <span class="red">96515</span>
        </li>
    </ul>
    <%= image_tag "tel.gif", alt: "tel", class: "telImg fr" %>
    <%= image_tag "xz.jpg", alt: "押金担保", class: "inline-block xzImg fr" %>
</div>