<div class="nav-top">
    <ul class="wrap clearfix">
        <li class="<%= controller_name != "coaches" ? "active" : "" %>"><a href="/">首页</a></li>
        <li class="<%= controller_name == "coaches" ? "active" : "" %>"><a href="<%= coaches_path %>">找教练</a></li>
    </ul>
</div>