<div class="hotBar">
    <div class="wrap">
        <input type="text" placeholder="请输入商品名称和编号" class="srcIn">
        <input type="button" value="" class="srcBtn">
        <span class="fb">热门：</span>
        <div class="inline-block">
            <a href="">金牌教练</a><span class="bor inline-block"></span>
            <a href="">王牌驾校</a><span class="bor inline-block"></span>
            <a href="">金牌教练</a><span class="bor inline-block"></span>
            <a href="">王牌驾校</a><span class="bor inline-block"></span>
            <a href="">金牌教练</a><span class="bor inline-block"></span>
            <a href="">王牌驾校</a>
        </div>
    </div>
</div>